html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    margin: 0;
    font-family: sans-serif;
    color: black;
}
.hero {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
h1 {
    text-shadow: 10px 10px 0 rgba(0, 0, 0, 1);
    font-size: 100px;
}